@font-face {
  font-family: 'TeX Gyre Heros Regular';
  src: url('./fonts/texgyreheros-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

body,
container {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  width: min(100vw, 100vh);
  height: min(100vw, 100vh);
}

svg {
  font-family: 'TeX Gyre Heros Regular';
}

svg .week-tick {
  stroke: black;
}

svg .day-hand {
  /* stroke-width: 8; */
  stroke: black;
  stroke-linecap: round;
}

svg .guide {
  display: none;
}